.abt-text {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  font-family: 'Coolvetica';
  font-weight: lighter;
  font-size: 17px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in-1,
.fade-in-2 {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-in-1 { animation-delay: 0.25s; }
.fade-in-2 { animation-delay: 0.5s; }


.resume-link {
  font-family: 'Coolvetica', sans-serif;
  font-weight: lighter;
}

.resume-link a:hover {
  color: #FFFFFF;
}

.language-text {
  font-family: 'Coolvetica', sans-serif;
  font-size: 1.1rem;
  padding-left: 25px;
  color: #e0e0e0;
}

.course-list a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.course-list a:hover {
    color: #5ED4F4;
}

.course-list li::before {
    content: '🎓';
    position: absolute;
    left: 0;
    top: 5px;
    color: #5ED4F4;
    font-size: 1rem;
}
