:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Fonts */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/helvetica-neu.ttf') format('truetype');
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-attachment: fixed ;
  background-repeat: no-repeat;
}

h1 {
  color: #000000;
  font-size: clamp(2rem, 5.5vw, 6.5vw);
  font-family: 'Coolvetica';
  font-weight: 400;
  z-index: 0;
}

h2 {
  color: #000000;
  font-size: clamp(1.75rem, 3vw, 4.5vw);
  font-family: 'Coolvetica';
  font-weight: 400;
  z-index: 0;
}

h3 {
  color: #000000;
  font-size: clamp(1.5rem, 2.5vw, 3vw); 
  font-family: 'Coolvetica';
  font-weight: 400;
  z-index: 0;
}

h4 {
  color: #000000;
  font-size: clamp(1.25rem, 2vw, 2.5vw);
  font-family: 'Coolvetica';
  font-weight: 400;
  z-index: 0;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes floatAnimation {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
